/Backend/.vs/
/Backend/CDN-meditationVideos/x64
/Backend/Communication/x64
/Backend/Delivery Server/x64
/Backend/x64
/Backend/asio-1.30.2
/Backend/AuthentificationServer/x64/
/Backend/AuthentificationServer/Debug/
/Backend/rapidjson-master/
/Backend/ClientTest/x64